<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube精选频道</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="/hw/default.js"></script>
    <link rel="stylesheet" href="/hw/default.css" />
</head>

<body>
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top nav-bg" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand main_logo" href="/"><img src="/hw/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://#serverip#:10000/no-gfw" data-toggle="collapse"
                            data-target=".navbar-collapse">翻墙软件</a>
                    </li>
                    <li><a href="/index.html">电视直播</a></li>
                    <li><a href="http://#serverip#:10000/videos/res1/news/">热点视频</a></li>
                    <li><a href="http://#serverip#:10000/videos/res2/blog/">法轮功真相</a></li>
                    <li><a href="http://#serverip#:10000/videos/res1/tui/">三退运动</a></li>
                    <li><a href="http://#serverip#:10000/videos/res4/mh-culture/">传统文化</a></li>
                    <li><a href="http://#serverip#:10000/videos/res/TIH/">历史上的今天</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">网站代理</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="http://#serverip#:85/gb/">大纪元时报</a>&nbsp; |&nbsp;
                    <a href="http://#serverip#:8808/gb/">新唐人电视台</a>&nbsp; |&nbsp;
                    <a href="http://#serverip#:8300/">看中国</a>&nbsp; |&nbsp;
                    <a href="/radio.html">希望之声广播</a>
                </li>
                <li class="list-group-item">
                    <a href="http://#serverip#:10000/ptblog/">编程随想</a>&nbsp; |&nbsp;
                    <a href="http://#serverip#:9800/mandarin/">自由亚洲电台</a>&nbsp; |&nbsp;
                    <a href="http://#serverip#:9900/chinese/">中国数字时代</a>&nbsp; |&nbsp;
                    <a href="http://#serverip#:11000/">干净世界</a>
                </li>
            </ul>
        </div>

        <div class="panel panel-primary">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="http://#serverip#:10000/videos/">翻墙必看</a>&nbsp; |&nbsp;
                    <a href="/youtube.html">YouTube精选</a>&nbsp; |&nbsp;
                    <a href="/index.html">电视直播</a>&nbsp; |&nbsp;
                    <a href="http://#serverip#:10000/bbooks/">禁书下载</a>
                </li>
            </ul>
        </div>

        <div class="panel panel-warning" id="ua">
            <div class="panel-warning"><a href="/guide.html">微信用户若要下载视频或音频，请点击此链接</a></div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" style="font-weight: 700;">YouTube精选频道</div>
            <div class="list-group">
                <span id='anchor1'></span>
            </div>
        </div>

    </div>

    <script>
        function getSubSet(arr, size) {
            var shuffled = arr.slice(0), i = arr.length, temp, index;
            while (i--) {
                index = Math.floor((i + 1) * Math.random());
                temp = shuffled[index];
                shuffled[index] = shuffled[i];
                shuffled[i] = temp;
            }
            return shuffled.slice(0, size);
        }

        $.ajax({
            url: "./channels.json",
            type: "get",
            dataType: 'json',
            success: function (json) {
                subSet = json
                for (i in subSet) {
                    c = subSet[i]
                    ele = `<div class='list-group-item news-item'>
                            <div class='icon'><img src='http://#serverip#:81/${c.name}/index.jpg'></div>
                            <a href='/${c.name}/'><div class='desc'>${c.desc}</div></a></div>`
                    $("#anchor1").before(ele);
                }
                hw();
            },
            error: function (e) {
                console.log(e.message);
            }
        });

    </script>
    <footer>
        <p>&copy; 2020-2021 <a href="https://github.com/gfw-breaker/">翻墙教练 gfw-breaker </a></p>
    </footer>
</body>

</html>
